.column {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;

  &.column-2 {
    .huddle {
      margin-left: auto;
      margin-right: auto;
    }
    @media (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
      .huddle {
        &:nth-child(odd) {
          margin-right: 0;
        }
        &:nth-child(even) {
          margin-left: 0;
        }
      }
    }
  }
}

.full-width {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
}
